body {
    margin: 0;
    line-height: normal;
    background-color: #4F6673;
}
nav{
    position:fixed;
    top: 0;
    left: 0;
    text-align: right;
    padding:.5em;
    padding-right: 0;
    width: 100%;
    background-color: #eee;
    margin:0; 
    z-index: 9999;
    border-color: #000;
    border-style: solid;
    border-width: 1px;
}
nav a{
    text-decoration: none;
    display: block;
}
/*  add styling to the a links when one of these happens */
nav a:link{color: #000}
nav a:visited{color: #497777}
nav a:hover{color: #A26100;}
nav ul{
    display: flex;
    flex-wrap: nowrap; /*one line*/
    justify-content: flex-end;
    margin: 0;
    font-size: 1.2em;
    list-style-type: none;
}

nav li{
    width: 7em;
    padding: 0 1em 0 1em;
    display: inline;

}
.portfolio-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #4F6673;
    width: 100%;
    height: 900px;
}
.levi-kirsch {
    position: absolute;
    top: 50px;
    left: calc(50% - 108px);
}
.my-mission {
    position: absolute;
    top: 617px;
    left: calc(20% - 40px);
}
.projects {
    position: absolute;
    top: 1000px;
    left: 215px;
    color: #4a5568;
    display: inline-block;
    width: 124px;
}
.specialties {
    position: absolute;
    top: 700px;
    left: calc(20% - 40px);
    display: inline-block;
    width: 162px;
}
.front-end-dev-parent {
    position: relative;
    top: 700px;
    left: calc(60% - 108px);
    width: 147px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    font-size: 19px;
}
.programming-parent {
    position: absolute;
    top: 700px;
    right: calc(20% - 108px);
    width: 154px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    font-size: 19px;
}
.handcrafted-in-pure {
    width: 422px;
    position: relative;
    font-size: 18px;
    display: inline-block;
}
.html5-css3-portfolio-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.react-chat-application {
    width: 422px;
    position: relative;
    display: inline-block;
}
.simple-chat-app {
    margin: 0;
}
.link1 {
    text-decoration: underline;
}
.link {
    margin: 0;
    color: #4F6673;
}
.simple-chat-app-container {
    width: 348px;
    position: relative;
    font-size: 18px;
    display: inline-block;
}
.nodejs-rest-api-parent {
    width: 348px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.frame-parent {
    position: absolute;
    top: 1000px;
    left: 861px;
    width: 474px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 48px;
    color: #4a5568;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 133px;
    height: 48px;
}
.aboutMe{
    text-align: center;
    background-color: #eee;
    border: 1px solid #111111;
    color: #4a5568;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}
.notes {
    width: 392px;
    position: relative;
    height: 171px;
}
.button {
    width: 392px;
    border-radius: 2px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    box-sizing: border-box;
    font-size: 12px;
    color: #4F6673;
}
.im-a-front-end {
    position: absolute;
    top: 169px;
    right: calc(20% - 108px);
    font-size: 62px;
    line-height: 78px;
    display: inline-block;
    width: 567px;
}
.portfolio-inner {
    position: absolute;
    top: 169px;
    left: calc(20% - 108px);
    border-radius: 70%;
    width: 312px;
    height: 312px;
    object-fit: contain;
}
.group-item {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: #4a5568;
    width: 81px;
    height: 72px;
}
.node {
    position: absolute;
    top: 20px;
    left: 18px;
    display: inline-block;
    width: 45px;
}

.JS {
    position: absolute;
    top: 20px;
    left: 23px;
    display: inline-block;
    width: 36px;
}
.ellipse-group {
    position: absolute;
    top: 1000px;
    left: 742.5px;
    width: 81px;
    height: 72px;
    font-family: 'Font Awesome 6 Brands';
}
.ellipse-container {
    position: absolute;
    top: 1120px;
    left: 741.38px;
    width: 81px;
    height: 72px;
    font-family: 'Font Awesome 6 Pro';
}
.portfolio {
    width: 100%;
    position: relative;
    background-color: #eee;
    height: 1300px;
    overflow: hidden;
    text-align: left;
    font-size: 32px;
    color: #eee;
    font-family: Judson;
}

footer{
    background-color: #4F6673;
    font-size: .6em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 1em;
    bottom: 1px;
}
#my-game {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid black;
}
table{
    background-color: #eee;
    width:100%;
    box-sizing: border-box;
}
tr:hover {background-color: #D6EEEE;}
table, th, td {
    border: 1px solid black;
}
.aboutImg{
    max-inline-size: 49.5%;
}
  